#wrapper {
    display: grid;
    width: 93%;
    background-color: rgb(242, 85, 48);
    margin:auto;
    grid-template-areas:
                        "hd hd hd"
                        "nv s1 dv"
                        "bn bn bn"
                        "ft ft ft";
    grid-template-columns: 15% 63% 24%;
    grid-template-rows: 41vh 70vh 7vh 20vh ;
}

header {
    grid-area: hd;
    background-color: rgb(240, 205, 66);
    background-image: url("../img/header.jpg");
}

#sidan {
    grid-area: nv;
    background-color:#ffe246;
}

.nav {
    display: flex;
    background-color: rgb(243, 230, 154);
    color: #fff;
}

#nav li {
    list-style-type:none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 9vh;
}

  #nav li:hover {
    background-color: #e6c403;
}

#nav a {
    color: rgb(242, 85, 48);
    font-size:x-large;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#nav a:hover {
    color: rgb(255, 255, 255);
}




#banner{
    grid-area: bn;
    background-color: #ffe246;
    background-image: url("../img/gul\ gradient.jpg");
}

#bannertext{
    text-align: center;
    font-size:x-large;
    margin: 2vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    letter-spacing: 0.4vh;
}

#bild{
    grid-area: dv;
    background-color: #97adce;     
}

#saul_thinkin{ 
    border: 10px;
    border-color: #97adce;
    border-style: solid;
   object-fit: cover;
   width:92%;
   height: 95%;
}

#section_1 {
    grid-area: s1;
    background-color: #ffe246;
    font-size:larger;
    text-align: center;  
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}

footer {
    grid-area: ft;
    background-color: ffe246;
    background-image: url("../img/cloudysky.jpg");
}
#footertext {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-align: center;
    margin-top: 5vh;
}